*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


 .bgcolor {
    background-color:rgb(1,222,179);
    opacity: 90%;
    
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
 }

.twodiv{
    height: 80%;
    width: 80%;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.firstdiv
{
    width: 80%;
    height: 100%;
    
    background:url("../images/domain-and-hosting.png");
    background-size: cover;
    background-position: center;
}

.seconddiv
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


 .bg-image {
    display: flex;
    
}




.content {
    
    border-radius: 10px;
    top: 50%;
    left: 50%;
     z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    /* transform: translate(-50%,-50%); */
    background-color: rgb(255, 255, 255); 

}

.content header {
    color: #01DEB3;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.content header:hover {
    color:#127e69;
    transition: 0.5s;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    border: 0.3px solid rgb(174, 174, 174);
    border-radius: 20px;
}
.field span{
    color: #01DEB3;
    width: 40px;
    line-height: 45px;
}
.field input{
    height:100%;
    width:100%;
    background: transparent ;
    border: none;
    outline:none;
    color:#01DEB3;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.show{
    margin-top: 2px; 
}
.show{
    position: absolute;
    right: 20px;
    font-size: 13px;
    font-weight: 700;
    color:#222;
    display:none;
    cursor:pointer;
    font-family: "montserrat", sans-serif;
}
 
.pass{
    text-align: left;
    margin:10px 0;
}
.pass a {
    color: #11539d;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.pass:hover a{
    text-decoration: underline;
}

.field input[type="submit"]{
    background-color: #01DEB3;
    /* border: 1px solid #000000; */
    border: 0.3px solid #01DEB3;
    border-radius: 20px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: .3s ease;
}
.field input[type="submit"]:hover {
    background: #1f6053;
    border: 0.3px solid #1f6053;
    font-size: large;
}
.login{
    color:white;
    margin: 20px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
i span{
    margin-left: 8px; 
     font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

